@charset "utf-8";
@font-face {
  font-family: feathericon;
  font-weight: normal;
  font-style: normal;
  src: url("feathericon/feathericon.eot");
  src: url("feathericon/feathericon.eot?#iefix") format('embedded-opentype'), url("feathericon/feathericon.woff") format('woff'), url("feathericon/feathericon.ttf") format('truetype'), url("feathericon/feathericon.svg") format('svg');
}
.fe {
  display: inline-block;
  font: normal normal normal 16px feathericon;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fe-activity:before {
  content: "\f1e2";
}
.fe-add-cart:before {
  content: "\f1e6";
}
.fe-align-bottom:before {
  content: "\f1bf";
}
.fe-align-center:before {
  content: "\f195";
}
.fe-align-left:before {
  content: "\f196";
}
.fe-align-right:before {
  content: "\f197";
}
.fe-align-top:before {
  content: "\f1c0";
}
.fe-align-vertically:before {
  content: "\f1c1";
}
.fe-angry:before {
  content: "\f1b6";
}
.fe-app-menu:before {
  content: "\f198";
}
.fe-arrow-down:before {
  content: "\f100";
}
.fe-arrow-left:before {
  content: "\f101";
}
.fe-arrow-right:before {
  content: "\f102";
}
.fe-arrow-up:before {
  content: "\f103";
}
.fe-artboard:before {
  content: "\f104";
}
.fe-audio-player:before {
  content: "\f199";
}
.fe-backward:before {
  content: "\f180";
}
.fe-bar:before {
  content: "\f105";
}
.fe-bar-chart:before {
  content: "\f106";
}
.fe-beer:before {
  content: "\f107";
}
.fe-bell:before {
  content: "\f108";
}
.fe-birthday-cake:before {
  content: "\f163";
}
.fe-bold:before {
  content: "\f179";
}
.fe-bolt:before {
  content: "\f1e3";
}
.fe-book:before {
  content: "\f109";
}
.fe-bookmark:before {
  content: "\f170";
}
.fe-browser:before {
  content: "\f10b";
}
.fe-brush:before {
  content: "\f10c";
}
.fe-bug:before {
  content: "\f10d";
}
.fe-building:before {
  content: "\f10e";
}
.fe-cage:before {
  content: "\f1e7";
}
.fe-calendar:before {
  content: "\f10f";
}
.fe-camera:before {
  content: "\f110";
}
.fe-cart:before {
  content: "\f1e8";
}
.fe-check:before {
  content: "\f111";
}
.fe-check-circle:before {
  content: "\f19a";
}
.fe-check-circle-o:before {
  content: "\f19b";
}
.fe-check-verified:before {
  content: "\f19c";
}
.fe-clock:before {
  content: "\f113";
}
.fe-close:before {
  content: "\f114";
}
.fe-cloud:before {
  content: "\f115";
}
.fe-cocktail:before {
  content: "\f116";
}
.fe-code:before {
  content: "\f117";
}
.fe-codepen:before {
  content: "\f1d3";
}
.fe-coffee:before {
  content: "\f166";
}
.fe-columns:before {
  content: "\f118";
}
.fe-comment:before {
  content: "\f119";
}
.fe-comment-o:before {
  content: "\f1d2";
}
.fe-commenting:before {
  content: "\f11a";
}
.fe-comments:before {
  content: "\f11b";
}
.fe-compress:before {
  content: "\f181";
}
.fe-credit-card:before {
  content: "\f1e9";
}
.fe-crop:before {
  content: "\f1c2";
}
.fe-cry:before {
  content: "\f1b7";
}
.fe-cutlery:before {
  content: "\f19d";
}
.fe-delete-link:before {
  content: "\f19e";
}
.fe-desktop:before {
  content: "\f11d";
}
.fe-diamond:before {
  content: "\f11e";
}
.fe-difference:before {
  content: "\f1c3";
}
.fe-disabled:before {
  content: "\f11f";
}
.fe-disappointed:before {
  content: "\f1b8";
}
.fe-distribute-horizontally:before {
  content: "\f1cf";
}
.fe-distribute-vertically:before {
  content: "\f1c5";
}
.fe-document:before {
  content: "\f19f";
}
.fe-download:before {
  content: "\f120";
}
.fe-drop-down:before {
  content: "\f121";
}
.fe-drop-left:before {
  content: "\f122";
}
.fe-drop-right:before {
  content: "\f123";
}
.fe-drop-up:before {
  content: "\f124";
}
.fe-edit:before {
  content: "\f17f";
}
.fe-eject:before {
  content: "\f182";
}
.fe-elipsis-h:before {
  content: "\f125";
}
.fe-elipsis-v:before {
  content: "\f126";
}
.fe-equalizer:before {
  content: "\f1a0";
}
.fe-eraser:before {
  content: "\f1c6";
}
.fe-expand:before {
  content: "\f183";
}
.fe-export:before {
  content: "\f16e";
}
.fe-eye:before {
  content: "\f127";
}
.fe-facebook:before {
  content: "\f1d4";
}
.fe-fast-backward:before {
  content: "\f184";
}
.fe-fast-forward:before {
  content: "\f185";
}
.fe-feather:before {
  content: "\f174";
}
.fe-feed:before {
  content: "\f128";
}
.fe-file:before {
  content: "\f1b1";
}
.fe-file-audio:before {
  content: "\f1b2";
}
.fe-file-excel:before {
  content: "\f1a2";
}
.fe-file-image:before {
  content: "\f1b3";
}
.fe-file-movie:before {
  content: "\f1b4";
}
.fe-file-powerpoint:before {
  content: "\f1a3";
}
.fe-file-word:before {
  content: "\f1a4";
}
.fe-file-zip:before {
  content: "\f1b5";
}
.fe-filter:before {
  content: "\f173";
}
.fe-flag:before {
  content: "\f129";
}
.fe-folder:before {
  content: "\f12a";
}
.fe-folder-open:before {
  content: "\f176";
}
.fe-fork:before {
  content: "\f12b";
}
.fe-forward:before {
  content: "\f186";
}
.fe-frowing:before {
  content: "\f1b9";
}
.fe-gamepad:before {
  content: "\f191";
}
.fe-gear:before {
  content: "\f1a5";
}
.fe-gift:before {
  content: "\f1ea";
}
.fe-git:before {
  content: "\f1d5";
}
.fe-github:before {
  content: "\f1d6";
}
.fe-github-alt:before {
  content: "\f1d7";
}
.fe-globe:before {
  content: "\f12c";
}
.fe-google:before {
  content: "\f1d8";
}
.fe-google-plus:before {
  content: "\f1d9";
}
.fe-hash:before {
  content: "\f12d";
}
.fe-headphone:before {
  content: "\f18e";
}
.fe-heart:before {
  content: "\f12e";
}
.fe-heart-o:before {
  content: "\f167";
}
.fe-home:before {
  content: "\f12f";
}
.fe-import:before {
  content: "\f16f";
}
.fe-info:before {
  content: "\f130";
}
.fe-insert-link:before {
  content: "\f1a6";
}
.fe-instagram:before {
  content: "\f1da";
}
.fe-intersect:before {
  content: "\f1c7";
}
.fe-italic:before {
  content: "\f17a";
}
.fe-key:before {
  content: "\f131";
}
.fe-keyboard:before {
  content: "\f132";
}
.fe-kitchen-cooker:before {
  content: "\f1a7";
}
.fe-laptop:before {
  content: "\f133";
}
.fe-layer:before {
  content: "\f18c";
}
.fe-layout:before {
  content: "\f134";
}
.fe-line-chart:before {
  content: "\f135";
}
.fe-link:before {
  content: "\f136";
}
.fe-link-external:before {
  content: "\f137";
}
.fe-list-bullet:before {
  content: "\f17c";
}
.fe-list-order:before {
  content: "\f17d";
}
.fe-list-task:before {
  content: "\f17e";
}
.fe-location:before {
  content: "\f138";
}
.fe-lock:before {
  content: "\f139";
}
.fe-login:before {
  content: "\f13a";
}
.fe-logout:before {
  content: "\f13b";
}
.fe-loop:before {
  content: "\f192";
}
.fe-magic:before {
  content: "\f177";
}
.fe-mail:before {
  content: "\f13c";
}
.fe-map:before {
  content: "\f16d";
}
.fe-mask:before {
  content: "\f1c8";
}
.fe-medal:before {
  content: "\f13d";
}
.fe-megaphone:before {
  content: "\f13e";
}
.fe-mention:before {
  content: "\f164";
}
.fe-messanger:before {
  content: "\f1e1";
}
.fe-minus:before {
  content: "\f140";
}
.fe-mobile:before {
  content: "\f141";
}
.fe-money:before {
  content: "\f1a8";
}
.fe-moon:before {
  content: "\f1ef";
}
.fe-mouse:before {
  content: "\f142";
}
.fe-music:before {
  content: "\f175";
}
.fe-open-mouth:before {
  content: "\f1ba";
}
.fe-palette:before {
  content: "\f165";
}
.fe-paper-plane:before {
  content: "\f178";
}
.fe-pause:before {
  content: "\f187";
}
.fe-pencil:before {
  content: "\f144";
}
.fe-phone:before {
  content: "\f145";
}
.fe-picture:before {
  content: "\f1a9";
}
.fe-picture-square:before {
  content: "\f1e4";
}
.fe-pie-chart:before {
  content: "\f146";
}
.fe-pinterest:before {
  content: "\f1db";
}
.fe-pizza:before {
  content: "\f147";
}
.fe-play:before {
  content: "\f188";
}
.fe-plug:before {
  content: "\f18f";
}
.fe-plus:before {
  content: "\f148";
}
.fe-pocket:before {
  content: "\f1dc";
}
.fe-pot:before {
  content: "\f1aa";
}
.fe-print:before {
  content: "\f171";
}
.fe-prototype:before {
  content: "\f149";
}
.fe-question:before {
  content: "\f14a";
}
.fe-quote-left:before {
  content: "\f14b";
}
.fe-quote-right:before {
  content: "\f14c";
}
.fe-rage:before {
  content: "\f1bb";
}
.fe-random:before {
  content: "\f189";
}
.fe-reload:before {
  content: "\f193";
}
.fe-remove-cart:before {
  content: "\f1eb";
}
.fe-rocket:before {
  content: "\f14d";
}
.fe-scale:before {
  content: "\f1c9";
}
.fe-search:before {
  content: "\f14e";
}
.fe-search-minus:before {
  content: "\f16a";
}
.fe-search-plus:before {
  content: "\f16b";
}
.fe-share:before {
  content: "\f14f";
}
.fe-shield:before {
  content: "\f172";
}
.fe-shopping-bag:before {
  content: "\f1ec";
}
.fe-sitemap:before {
  content: "\f150";
}
.fe-smile:before {
  content: "\f1bc";
}
.fe-smile-alt:before {
  content: "\f1bd";
}
.fe-speaker:before {
  content: "\f1ab";
}
.fe-star:before {
  content: "\f151";
}
.fe-star-o:before {
  content: "\f168";
}
.fe-step-backward:before {
  content: "\f1d0";
}
.fe-step-forward:before {
  content: "\f1d1";
}
.fe-stop:before {
  content: "\f18b";
}
.fe-subtract:before {
  content: "\f1ca";
}
.fe-sunny-o:before {
  content: "\f1f0";
}
.fe-sunrise:before {
  content: "\f1f1";
}
.fe-sync:before {
  content: "\f194";
}
.fe-table:before {
  content: "\f1ac";
}
.fe-tablet:before {
  content: "\f152";
}
.fe-tag:before {
  content: "\f153";
}
.fe-target:before {
  content: "\f1f3";
}
.fe-terminal:before {
  content: "\f154";
}
.fe-text-align-center:before {
  content: "\f1cb";
}
.fe-text-align-justify:before {
  content: "\f1e5";
}
.fe-text-align-left:before {
  content: "\f1cc";
}
.fe-text-align-right:before {
  content: "\f1cd";
}
.fe-text-size:before {
  content: "\f17b";
}
.fe-ticket:before {
  content: "\f155";
}
.fe-tiled:before {
  content: "\f156";
}
.fe-timeline:before {
  content: "\f1ad";
}
.fe-tired:before {
  content: "\f1be";
}
.fe-trash:before {
  content: "\f157";
}
.fe-trophy:before {
  content: "\f158";
}
.fe-truck:before {
  content: "\f1ed";
}
.fe-twitter:before {
  content: "\f1dd";
}
.fe-umbrella:before {
  content: "\f1f2";
}
.fe-underline:before {
  content: "\f1ae";
}
.fe-union:before {
  content: "\f1ce";
}
.fe-unlock:before {
  content: "\f169";
}
.fe-upload:before {
  content: "\f159";
}
.fe-usb:before {
  content: "\f190";
}
.fe-user:before {
  content: "\f15a";
}
.fe-user-minus:before {
  content: "\f16c";
}
.fe-user-plus:before {
  content: "\f15b";
}
.fe-users:before {
  content: "\f15c";
}
.fe-vector:before {
  content: "\f15d";
}
.fe-video:before {
  content: "\f15e";
}
.fe-wallet:before {
  content: "\f1ee";
}
.fe-warning:before {
  content: "\f15f";
}
.fe-watch:before {
  content: "\f1af";
}
.fe-watch-alt:before {
  content: "\f1b0";
}
.fe-wine-glass:before {
  content: "\f161";
}
.fe-wordpress:before {
  content: "\f1de";
}
.fe-wordpress-alt:before {
  content: "\f1df";
}
.fe-wrench:before {
  content: "\f162";
}
.fe-youtube:before {
  content: "\f1e0";
}
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15 /* 1 */;
  -webkit-text-size-adjust: 100% /* 2 */;
}
body {
  margin: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
hr {
  box-sizing: content-box /* 1 */;
  height: 0 /* 1 */;
  overflow: visible /* 2 */;
}
pre {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
a {
  background-color: transparent;
}
abbr[title] {
  border-bottom: none /* 1 */;
  text-decoration: underline /* 2 */;
  text-decoration: underline dotted /* 2 */;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace /* 1 */;
  font-size: 1em /* 2 */;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit /* 1 */;
  font-size: 100% /* 1 */;
  line-height: 1.15 /* 1 */;
  margin: 0 /* 2 */;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box /* 1 */;
  color: inherit /* 2 */;
  display: table /* 1 */;
  max-width: 100% /* 1 */;
  padding: 0 /* 3 */;
  white-space: normal /* 1 */;
}
progress {
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box /* 1 */;
  padding: 0 /* 2 */;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield /* 1 */;
  outline-offset: -2px /* 2 */;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button /* 1 */;
  font: inherit /* 2 */;
}
details {
  display: block;
}
summary {
  display: list-item;
}
template {
  display: none;
}
[hidden] {
  display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  position: relative;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.7;
  color: #1e3e3f;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  text-size-adjust: 100%;
}
body ::selection {
  background: #5c6b72;
  color: #e6e6e6;
}
a {
  color: #127ea9;
}
a:hover {
  color: #1594c6;
}
a:active {
  color: #1178a1;
}
a.disabled {
  color: #adb5bd;
}
img {
  max-width: 100%;
}
.article-date,
.article-category .article-category-link,
.archive-year-wrap .archive-year,
.archive-article-date {
  text-decoration: none;
  color: #5c6b72;
}
.article-date:hover,
.article-category .article-category-link:hover,
.archive-year-wrap .archive-year:hover,
.archive-article-date:hover {
  color: #5c6b72;
}
.archive-article-inner {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.article-entry h1,
.article-entry h2,
.article-entry h3,
.article-entry h4,
.article-entry h5,
.article-entry h6 {
  margin: 1.5rem 0;
}
.article-entry hr {
  height: 0.1rem;
  background-color: #e6e6e6;
  border: none;
  padding: 0;
  margin: 1.5rem 0;
}
.article-entry strong {
  font-weight: bold;
}
.article-entry em,
.article-entry cite {
  font-style: italic;
}
.article-entry sup,
.article-entry sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.article-entry sup {
  top: -0.5rem;
}
.article-entry sub {
  bottom: -0.25rem;
}
.article-entry small {
  font-size: 85%;
}
.article-entry acronym,
.article-entry abbr {
  border-bottom: 0.1rem #e6e6e6 dotted;
}
.article-entry ul,
.article-entry ol,
.article-entry dl {
  margin: 1.5rem 0;
  line-height: line-height;
}
.article-entry p,
.article-entry table,
.article-entry blockquote {
  margin: 1.5rem 0;
}
.article-entry img,
.article-entry video {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
}
.article-entry iframe {
  border: none;
}
.article-entry table {
  width: 100%;
  border-collapse: collapse;
  vertical-align: middle;
  empty-cells: show;
  text-align: left;
}
.article-entry table th,
.article-entry table td,
.article-entry table {
  border: 0.1rem #e6e6e6 solid;
}
.article-entry table th,
.article-entry table td {
  padding: 1rem 1.5rem;
}
.article-entry table tbody tr:nth-child(2n) {
  background-color: rgba(230,230,230,0.25);
}
.article-entry blockquote {
  display: block;
  padding: 0 1.5rem;
  width: 100%;
  overflow: auto;
  border-left: 0.3rem #9c8079 solid;
  color: #5c6b72;
}
.article-entry blockquote > :first-child {
  margin-top: 0;
}
.article-entry blockquote > :last-child {
  margin-bottom: 0;
}
.article-entry blockquote footer cite:before {
  content: "—";
  padding: 0 0.5rem;
}
.jumbotron {
  padding: 0;
  margin-bottom: 3rem;
  text-align: center;
}
.content,
.sidebar {
  transition: all 0.3s ease-in-out;
}
.content {
  position: relative;
  z-index: 1;
  margin-right: 0;
}
.content.on {
  transform: translateX(-10rem);
}
.sidebar {
  position: fixed;
  z-index: 9;
  top: 0;
  right: -10rem;
  bottom: 0;
  width: 10rem;
  background-color: #f4f4f4;
}
.sidebar.on {
  right: 0;
}
.sidebar-specter {
  opacity: 0.1;
}
.sidebar-specter:hover {
  opacity: 1;
}
.navbar-toggle {
  position: absolute;
  top: 1.5rem;
  right: 11.5rem;
  padding: 0.5rem 1rem;
  border: none;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  background-color: rgba(30,62,63,0.25);
  color: #fff;
}
.navbar-toggle::before {
  content: '\f105';
  font-family: feathericon;
  font-size: larger;
}
.wrap,
.outer {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: auto;
}
.wrap::before,
.outer::before,
.wrap::after,
.outer::after {
  content: "";
  display: table;
  clear: both;
}
.local-search {
  width: 100%;
}
@media (min-width: 768px) {
  .jumbotron {
    margin-bottom: 6rem;
  }
  .content {
    margin-right: 10rem;
  }
  .sidebar {
    right: 0;
    background-color: #fff;
  }
  .navbar-toggle {
    display: none;
  }
  .wrap,
  .outer {
    width: 70rem;
    padding-right: 0;
    padding-left: 0;
  }
  .local-search {
    width: 70rem;
  }
}
.list-unstyled,
.list-inline {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.list-inline {
  position: relative;
  margin: 0 -0.75rem;
}
.list-inline > li {
  display: inline-block;
  padding: 0 0.75rem;
}
.category-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.category-list > .category-list-item {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.category-list > .category-list-item:before {
  content: "\f18c";
  font-family: feathericon;
  margin-right: 0.5rem;
}
.tag-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.tag-list > .tag-list-item {
  display: inline-block;
  padding: 0.5rem 1rem;
}
.tag-list > .tag-list-item:before {
  content: "\f153";
  font-family: feathericon;
  margin-right: 0.5rem;
}
.video {
  position: relative;
  height: auto;
}
.video .brand {
  width: 5.8rem;
}
.video-frame {
  position: absolute;
  z-index: 1;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
}
.video-frame img {
  display: block;
  width: 100%;
}
.video-media {
  position: relative;
  z-index: 0;
  height: 90vh;
  overflow: hidden;
}
.video-media video,
.video-media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}
.video-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(178,191,204,0.6);
}
.video-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
}
.video-inner a,
.video-inner {
  color: #fff;
  text-decoration: none;
}
.video-learn-more {
  position: absolute;
  z-index: 1;
  bottom: -3rem;
  right: 0;
  left: 0;
}
.video-learn-more a > .fe {
  font-size: 3rem;
  color: #adb5bd;
}
.video-learn-more a > .fe:hover {
  color: #1e3e3f;
}
.search-form-wrap {
  position: fixed;
  top: -100%;
  right: 10rem;
  left: 0;
  opacity: 0;
  transition: 0.3s;
}
.search-form-wrap.on {
  top: 0;
  opacity: 1;
}
.local-search {
  position: relative;
  margin: 0 auto;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 1rem 3rem rgba(30,62,63,0.05);
  max-height: 100vh;
  overflow-y: auto;
}
.local-search-input {
  border: 0.1rem #e6e6e6 solid;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  background-color: #fff;
  width: 100%;
  padding: 1rem 1.5rem;
  outline: none;
}
.local-search-input::-webkit-search-results-decoration,
.local-search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
.local-search-close {
  position: absolute;
  top: 3.85rem;
  right: 4.25rem;
  display: block;
  height: 2rem;
  width: 2rem;
  padding: 0;
  border: none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #9c8079;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.local-search-close::before {
  content: '\f114';
  font-family: feathericon;
}
.local-search-result {
  text-align: left;
}
.search-result-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.search-result-list li {
  padding: 1.5rem 0;
}
.search-result-list li:not(:last-child) {
  border-bottom: 0.1rem #e6e6e6 solid;
}
.search-result-list li .search-result-title {
  font-size: 1.6rem;
  font-weight: bold;
}
.search-result-list li .search-result {
  padding-top: 0.5rem;
  margin: 0;
  max-height: 12rem;
  overflow: hidden;
}
.search-result-list li em.search-keyword {
  color: #9e6a4d;
}
.search-result-empty {
  padding: 3rem 0 0;
}
.article {
  padding: 3rem 0;
}
.article-topping {
  position: absolute;
  top: 0;
  left: -3rem;
  color: #ea434a;
}
.article-topping .fe {
  font-size: 2rem;
  line-height: 1.7;
}
.article-meta::before,
.article-meta::after {
  content: "";
  display: table;
  clear: both;
}
.article-date::before {
  content: '\f10f';
  margin-right: 0.5rem;
  font-family: feathericon;
  opacity: 0.5;
}
.article-category {
  display: inline-block;
  margin-left: 1.5rem;
}
.article-category:before {
  content: "\f18c";
  font-family: feathericon;
  margin-right: 0.5rem;
}
.archive-article-header + .article-category {
  margin-left: 0;
}
.article-entry {
  margin-top: 3rem;
  color: #1e3e3f;
}
.article-entry::before,
.article-entry::after {
  content: "";
  display: table;
  clear: both;
}
.article-entry .pullquote {
  text-align: left;
  width: 45%;
  margin: 0;
}
.article-entry .pullquote.left {
  margin-left: 0.5em;
  margin-right: 1em;
}
.article-entry .pullquote.right {
  margin-right: 0.5em;
  margin-left: 1em;
}
.article-entry .caption {
  color: color-grey;
  display: block;
  font-size: 0.9em;
  margin-top: 0.5em;
  position: relative;
  text-align: center;
}
.article-entry .video-container {
  position: relative;
  padding-top: 56.25%;
  height: 0;
  overflow: hidden;
}
.article-entry .video-container iframe,
.article-entry .video-container object,
.article-entry .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
.article-header {
  position: relative;
}
.article-header h1,
.article-header h2 {
  margin: 0;
}
.article-header .article-title {
  text-decoration: none;
  color: #1e3e3f;
}
.article-footer {
  margin-top: 3rem;
}
.article-footer::before,
.article-footer::after {
  content: "";
  display: table;
  clear: both;
}
.article-tag-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  margin: 0;
}
.article-tag-list:before {
  content: "\f153";
  font-family: feathericon;
  margin-right: 0.5rem;
}
.article-tag-list .article-tag-list-item {
  display: inline-block;
  padding-right: 1rem;
}
.article-tag-list .article-tag-list-link {
  text-decoration: none;
}
.article-comment-link {
  float: right;
}
.article-comment-link:before {
  content: "\f1d2";
  font-family: feathericon;
  padding-right: 8px;
}
.article-share-link {
  cursor: pointer;
  float: right;
  margin-left: 20px;
}
.article-share-link:before {
  content: "\f14f";
  font-family: feathericon;
  padding-right: 6px;
}
.article-nav {
  position: relative;
  padding-top: 3rem;
  margin-top: 5rem;
  border-top: 0.1rem #e6e6e6 solid;
}
.article-nav::before,
.article-nav::after {
  content: "";
  display: table;
  clear: both;
}
.article-nav-link {
  display: block;
  text-decoration: none;
}
.article-nav-link:first-child {
  float: left;
}
.article-nav-link:last-child {
  float: right;
  text-align: right;
}
.article-nav-caption {
  color: #5c6b72;
}
.article-nav-title {
  font-size: inherit;
}
.article-share-box {
  position: absolute;
  display: none;
  background: #fff;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: -145px;
  overflow: hidden;
  z-index: 1;
}
.article-share-box.on {
  display: block;
}
.article-share-input {
  width: 100%;
  background: none;
  box-sizing: border-box;
  padding: 0 1.5rem;
  outline: none;
  border: none;
  border-bottom: 0.1rem #e6e6e6 solid;
  height: 3.6rem;
  line-height: 3.6rem;
}
.article-share-links::before,
.article-share-links::after {
  content: "";
  display: table;
  clear: both;
}
.article-share-twitter,
.article-share-facebook,
.article-share-pinterest,
.article-share-google {
  position: relative;
  display: block;
  float: left;
  width: 5rem;
  color: #172d3e;
  text-align: center;
  text-decoration: none;
}
.article-share-twitter:before,
.article-share-facebook:before,
.article-share-pinterest:before,
.article-share-google:before {
  font-size: 20px;
  font-family: feathericon;
}
.article-share-twitter:hover,
.article-share-facebook:hover,
.article-share-pinterest:hover,
.article-share-google:hover {
  color: #fff;
}
.article-share-twitter:before {
  content: "\f1dd";
}
.article-share-twitter:hover {
  background: #00aced;
  text-shadow: 0 1px #008abe;
}
.article-share-facebook:before {
  content: "\f1d4";
}
.article-share-facebook:hover {
  background: #3b5998;
  text-shadow: 0 1px #2f477a;
}
.article-share-pinterest:before {
  content: "\f1db";
}
.article-share-pinterest:hover {
  background: #cb2027;
  text-shadow: 0 1px #a21a1f;
}
.article-share-google:before {
  content: "\f1d8";
}
.article-share-google:hover {
  background: #dd4b39;
  text-shadow: 0 1px #be3221;
}
.tocbot {
  position: absolute;
  top: 14rem;
  left: calc((100vw - 70rem) / 2 + 70rem);
  font-size: 80%;
  opacity: 0.8;
}
.tocbot > .toc-list {
  position: relative;
  overflow: hidden;
}
.toc-list {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
  padding-left: 1rem;
}
a.toc-link {
  height: 100%;
  color: #172d3e;
  text-decoration: none;
}
.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: all;
}
.is-collapsed {
  max-height: 0;
}
.is-position-fixed {
  position: fixed !important;
  top: 0;
  right: 10rem;
}
.is-active-link {
  font-weight: 700;
}
.toc-link::before {
  background-color: #e6e6e6;
  content: ' ';
  display: inline-block;
  height: inherit;
  left: 0;
  margin-top: -1px;
  position: absolute;
  width: 2px;
}
.is-active-link::before {
  background-color: #127ea9;
}
.article-gallery {
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-gallery {
  margin-top: 1.5rem;
}
.article-gallery {
  position: relative;
}
.article-gallery-photos {
  position: relative;
  overflow: hidden;
}
.article-gallery-img {
  display: none;
  max-width: 100%;
}
.article-gallery-img:first-child {
  display: block;
}
.article-gallery-img.loaded {
  position: absolute;
  display: block;
}
.article-gallery-img img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.article-albums {
  position: relative;
}
.article-albums-photos {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.article-albums-photos::before,
.article-albums-photos::after {
  content: "";
  display: table;
  clear: both;
}
.article-albums-photos::after {
  content: '';
  flex-grow: 999999999;
}
.article-albums-photos .article-albums-item {
  position: relative;
  flex-grow: 1;
  margin: 0.5rem;
  overflow: hidden;
}
.article-albums-photos .article-albums-item img {
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  vertical-align: center;
}
.article-albums-photos .article-albums-item .article-albums-caption {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
}
@media (min-width: 576px) {
  .article-albums-item img {
    height: 32rem;
  }
  .article-albums-item .article-albums-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
    color: #fff;
    padding: 1rem;
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.3s ease-in-out;
  }
  .article-albums-item:hover .article-albums-caption {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width: 768px) {
  .article-albums-item img {
    height: 20rem;
  }
}
.justified-gallery {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.justified-gallery > a,
.justified-gallery > div,
.justified-gallery > figure {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  background: #adb5bd /* To have gray placeholders while the gallery is loading with waitThumbnailsLoad = false */;
  filter: "alpha(opacity=10)";
  opacity: 0.1;
  margin: 0;
  padding: 0;
}
.justified-gallery > a > img,
.justified-gallery > div > img,
.justified-gallery > figure > img,
.justified-gallery > a > a > img,
.justified-gallery > div > a > img,
.justified-gallery > figure > a > img,
.justified-gallery > a > svg,
.justified-gallery > div > svg,
.justified-gallery > figure > svg,
.justified-gallery > a > a > svg,
.justified-gallery > div > a > svg,
.justified-gallery > figure > a > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  border: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
}
.justified-gallery > a > .caption,
.justified-gallery > div > .caption,
.justified-gallery > figure > .caption {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0,0,0,0.5);
  background: linear-gradient(to top, rgba(0,0,0,0.5), transparent);
  color: #fff;
}
.justified-gallery > a > .caption.caption-visible,
.justified-gallery > div > .caption.caption-visible,
.justified-gallery > figure > .caption.caption-visible {
  display: initial;
}
.justified-gallery > .jg-entry-visible {
  filter: "alpha(opacity=100)";
  opacity: 1;
  background: none;
}
.justified-gallery > .jg-entry-visible > img,
.justified-gallery > .jg-entry-visible > a > img,
.justified-gallery > .jg-entry-visible > svg,
.justified-gallery > .jg-entry-visible > a > svg {
  filter: "alpha(opacity=100)";
  opacity: 1;
  -webkit-transition: opacity 500ms ease-in;
  -moz-transition: opacity 500ms ease-in;
  -o-transition: opacity 500ms ease-in;
  transition: opacity;
}
.justified-gallery > .jg-filtered {
  display: none;
}
.justified-gallery > .jg-filtered > .spinner {
  position: absolute;
  bottom: 0;
  margin-left: -24px;
  padding: 10px 0 10px 0;
  left: 50%;
  filter: "alpha(opacity=100)";
  opacity: 1;
  overflow: initial;
}
.justified-gallery > .jg-filtered > span {
  display: inline-block;
  filter: "alpha(opacity=0)";
  opacity: 0;
  width: 8px;
  height: 8px;
  margin: 0 4px 0 4px;
  background-color: #000;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.articles .article {
  padding: 3rem 0;
}
.articles .article:not(:last-child) {
  border-bottom: 0.1rem #e6e6e6 solid;
}
.articles .article-entry,
.articles .article-footer {
  margin-top: 0;
}
.articles .article-entry .article-gallery {
  margin-top: 1.5rem;
}
.archives-wrap {
  position: relative;
}
.archives-wrap::before,
.archives-wrap::after {
  content: "";
  display: table;
  clear: both;
}
.archives-wrap:first-child {
  margin-top: 3rem;
}
.archives-wrap:last-child {
  margin-bottom: 3rem;
}
.archive-year-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 6rem;
}
.archive-year-wrap .archive-year {
  position: relative;
  display: inline-block;
}
.archive-year-wrap .archive-year::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.15rem;
  background-color: #5c6b72;
  width: 100%;
}
.archives {
  margin-left: 6rem;
  border-left: 0.1rem #e6e6e6 dashed;
  padding-left: 3rem;
}
.archives::before,
.archives::after {
  content: "";
  display: table;
  clear: both;
}
.archive-article-inner {
  margin-bottom: 1.5rem;
}
.archive-article-header {
  display: table-row;
}
.archive-article-header > a,
.archive-article-header > h2 {
  display: table-cell;
}
.archive-article-header h2 {
  margin: 0;
  padding-left: 3rem;
}
.archive-article-header h2 .archive-article-title {
  text-decoration: none;
  font-size: 1.5rem;
}
.archive-article-footer {
  margin-top: 1.5rem;
}
.archive-article-date {
  position: relative;
  display: block;
}
.archive-article-date::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -3.5rem;
  margin-top: -0.5rem;
  width: 1rem;
  height: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  background-color: #e6e6e6;
}
.page-type-title {
  margin: 0;
  padding: 3rem 0;
}
.page-nav {
  margin: 3rem auto;
  text-align: center;
  overflow: hidden;
}
.page-nav::before,
.page-nav::after {
  content: "";
  display: table;
  clear: both;
}
.page-nav a,
.page-nav span {
  padding: 1rem 1.5rem;
  line-height: 1;
}
.page-nav a {
  text-decoration: none;
}
.page-nav .prev {
  float: left;
}
.page-nav .next {
  float: right;
}
.page-nav .page-number {
  display: inline-block;
}
@media mq-mobile {
  .page-nav .page-number {
    display: none;
  }
}
.page-nav .current {
  font-weight: bold;
}
.page-nav .space {
  color: #e6e6e6;
}
.footer {
  border-top: 0.1rem #e6e6e6 solid;
  padding: 3rem 0;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
.float-none {
  float: none !important;
}
.article-entry pre,
.article-entry .highlight {
  background: #f6f8fa;
  padding: 1.5rem;
  margin: 1.5rem 0;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
  overflow: auto;
  color: #4d4d4c;
}
.article-entry .highlight .gutter pre,
.article-entry .gist .gist-file .gist-data .line-numbers {
  color: #8e908c;
}
.article-entry pre,
.article-entry code {
  font-family: inherit;
  text-shadow: none;
}
.article-entry code {
  background: #f6f8fa;
  padding: 0.25rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}
.article-entry pre code {
  background: none;
  padding: 0;
}
.article-entry .highlight pre {
  border: none;
  margin: 0;
  padding: 0;
}
.article-entry .highlight table {
  margin: 0;
  width: auto;
  border: none;
}
.article-entry .highlight td {
  border: none;
  padding: 0;
}
.article-entry .highlight figcaption {
  font-size: 85%;
  color: #8e908c;
  line-height: 1rem;
  margin-bottom: 1rem;
}
.article-entry .highlight figcaption::before,
.article-entry .highlight figcaption::after {
  content: "";
  display: table;
  clear: both;
}
.article-entry .highlight figcaption a {
  float: right;
}
.article-entry .highlight .gutter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.article-entry .highlight .gutter pre {
  text-align: right;
  padding-right: 1.5rem;
}
.article-entry .highlight .line {
  height: inherit;
}
.article-entry .highlight .line.marked {
  background: #d6d6d6;
}
.article-entry .gist {
  background: #f6f8fa;
}
.article-entry .gist .gist-file {
  border: none;
  margin: 0;
}
.article-entry .gist .gist-file .gist-data {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-numbers {
  background: none;
  border: none;
}
.article-entry .gist .gist-file .gist-data .line-data {
  padding: 0 !important;
}
.article-entry .gist .gist-file .highlight {
  margin: 0;
  padding: 0;
  border: none;
}
.article-entry .gist .gist-file .gist-meta {
  background: #f6f8fa;
  color: #8e908c;
  padding: 0;
  margin-top: 1rem;
}
.article-entry .gist .gist-file .gist-meta a {
  font-weight: normal;
}
.article-entry .gist .gist-file .gist-meta a:hover {
  text-decoration: underline;
}
pre .comment,
pre .title {
  color: #8e908c;
}
pre .variable,
pre .attribute,
pre .tag,
pre .regexp,
pre .ruby .constant,
pre .xml .tag .title,
pre .xml .pi,
pre .xml .doctype,
pre .html .doctype,
pre .css .id,
pre .css .class,
pre .css .pseudo {
  color: #f2777a;
}
pre .number,
pre .preprocessor,
pre .built_in,
pre .literal,
pre .params,
pre .constant {
  color: #f99157;
}
pre .class,
pre .ruby .class .title,
pre .css .rules .attribute {
  color: #9c9;
}
pre .string,
pre .value,
pre .inheritance,
pre .header,
pre .ruby .symbol,
pre .xml .cdata {
  color: #9c9;
}
pre .css .hexcolor {
  color: #6cc;
}
pre .function,
pre .python .decorator,
pre .python .title,
pre .ruby .function .title,
pre .ruby .title .keyword,
pre .perl .sub,
pre .javascript .title,
pre .coffeescript .title {
  color: #69c;
}
pre .keyword,
pre .javascript .function {
  color: #c9c;
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace .pace-progress {
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 0.2rem;
  background-color: #127ea9;
}
.pace-inactive {
  display: none;
}
.gitalk,
.markdown-body {
  font-size: 1.4rem !important;
}
.gt-container .gt-avatar.gt-comment-avatar img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.macbook {
  position: relative;
}
.macbook .macbook-screen {
  position: relative;
  background-color: transparent;
  border-style: solid;
  border-color: #fff;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border-width: 1.25rem;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0.15), 0 0 0.5rem rgba(0,0,0,0.15) inset;
}
.macbook .macbook-keyboard {
  display: none;
  position: relative;
  box-sizing: content-box;
  background-color: #fff;
  border-bottom: solid 0.75rem #f2f2f2;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  margin: -0.5rem -5rem 0;
  height: 0.5rem;
  box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.15);
}
.macbook .macbook-keyboard::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #f2f2f2, #fff, #f2f2f2);
  box-shadow: 0 0 0.1rem rgba(0,0,0,0.05) inset;
  width: 20%;
  height: 0.3rem;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
}
@media (min-width: 768px) {
  .macbook .macbook-screen {
    border-width: 2rem 1.25rem 1.25rem;
  }
  .macbook .macbook-keyboard {
    display: block;
  }
}
.macbook-wrap {
  padding: 1rem 9rem;
}
.scrolling-wrap {
  min-height: 30rem;
  overflow: hidden;
}
.scrolling {
  position: absolute;
  top: 30rem;
  width: 100%;
  animation: scrolling-animation 10s ease-in-out 1s infinite;
}
@-moz-keyframes scrolling-animation {
  0% {
    top: 0;
  }
  10% {
    top: 0;
    transform: translateY(0);
  }
  30% {
    transform: translateY(-35%);
  }
  60% {
    transform: translateY(-75%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-webkit-keyframes scrolling-animation {
  0% {
    top: 0;
  }
  10% {
    top: 0;
    transform: translateY(0);
  }
  30% {
    transform: translateY(-35%);
  }
  60% {
    transform: translateY(-75%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@-o-keyframes scrolling-animation {
  0% {
    top: 0;
  }
  10% {
    top: 0;
    transform: translateY(0);
  }
  30% {
    transform: translateY(-35%);
  }
  60% {
    transform: translateY(-75%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
@keyframes scrolling-animation {
  0% {
    top: 0;
  }
  10% {
    top: 0;
    transform: translateY(0);
  }
  30% {
    transform: translateY(-35%);
  }
  60% {
    transform: translateY(-75%);
  }
  90% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.navbar {
  position: relative;
  padding-top: 3rem;
  text-align: center;
}
.navbar .nav {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
.navbar .nav .nav-item-link {
  display: block;
  padding: 1rem;
  color: #172d3e;
  text-decoration: none;
  cursor: pointer;
}
.navbar .nav .nav-item-link:hover {
  color: #1594c6;
}
.navbar .nav.nav-main .nav-item-link::before,
.navbar .nav.nav-main .nav-item-link i.fe {
  display: block;
  line-height: 1;
}
.navbar .nav.nav-main .nav-item-link::before {
  font-family: 'feathericon';
}
.navbar .nav.nav-main .nav-item:nth-child(1) .nav-item-link::before {
  content: '\f12f';
}
.navbar .nav.nav-main .nav-item:nth-child(2) .nav-item-link::before {
  content: '\f12a';
}
.navbar .nav.nav-main .nav-item:nth-child(3) .nav-item-link::before {
  content: '\f1a9';
}
.navbar .nav.nav-main .nav-item:nth-child(4) .nav-item-link::before {
  content: '\f142';
}
.navbar .nav.nav-main .nav-item:nth-child(5) .nav-item-link::before {
  content: '\f1c5';
}
.navbar .nav.nav-main .nav-item:nth-child(6) .nav-item-link::before {
  content: '\f174';
}
.navbar-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.logo {
  text-align: center;
}
.logo img {
  width: 5.8rem;
}
.totop {
  position: relative;
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
  width: 3.2rem;
  height: 3.2rem;
  -webkit-border-radius: 3.2rem;
  -moz-border-radius: 3.2rem;
  border-radius: 3.2rem;
  background-color: #f4f4f4;
  line-height: 3rem;
}
.totop:hover > i {
  animation: rocket 0.3s ease-in-out;
}
@-moz-keyframes rocket {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-3.2rem);
    opacity: 0;
  }
  55% {
    transform: translateY(3.2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes rocket {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-3.2rem);
    opacity: 0;
  }
  55% {
    transform: translateY(3.2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@-o-keyframes rocket {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-3.2rem);
    opacity: 0;
  }
  55% {
    transform: translateY(3.2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes rocket {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  45% {
    transform: translateY(-3.2rem);
    opacity: 0;
  }
  55% {
    transform: translateY(3.2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track-piece {
  background: #eee;
}
::-webkit-scrollbar-thumb:vertical {
  background: #666;
}

body.compensate-for-scrollbar{overflow:hidden}.fancybox-active{height:auto}.fancybox-is-hidden{left:-9999px;margin:0;position:absolute!important;top:-9999px;visibility:hidden}.fancybox-container{-webkit-backface-visibility:hidden;height:100%;left:0;outline:none;position:fixed;-webkit-tap-highlight-color:transparent;top:0;-ms-touch-action:manipulation;touch-action:manipulation;-webkit-transform:translateZ(0);transform:translateZ(0);width:100%;z-index:99992}.fancybox-container *{box-sizing:border-box}.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage{bottom:0;left:0;position:absolute;right:0;top:0}.fancybox-outer{-webkit-overflow-scrolling:touch;overflow-y:auto}.fancybox-bg{background:#1e1e1e;opacity:0;transition-duration:inherit;transition-property:opacity;transition-timing-function:cubic-bezier(.47,0,.74,.71)}.fancybox-is-open .fancybox-bg{opacity:.9;transition-timing-function:cubic-bezier(.22,.61,.36,1)}.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar{direction:ltr;opacity:0;position:absolute;transition:opacity .25s ease,visibility 0s ease .25s;visibility:hidden;z-index:99997}.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar{opacity:1;transition:opacity .25s ease 0s,visibility 0s ease 0s;visibility:visible}.fancybox-infobar{color:#ccc;font-size:13px;-webkit-font-smoothing:subpixel-antialiased;height:44px;left:0;line-height:44px;min-width:44px;mix-blend-mode:difference;padding:0 10px;pointer-events:none;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fancybox-toolbar{right:0;top:0}.fancybox-stage{direction:ltr;overflow:visible;-webkit-transform:translateZ(0);transform:translateZ(0);z-index:99994}.fancybox-is-open .fancybox-stage{overflow:hidden}.fancybox-slide{-webkit-backface-visibility:hidden;display:none;height:100%;left:0;outline:none;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:absolute;text-align:center;top:0;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;white-space:normal;width:100%;z-index:99994}.fancybox-slide:before{content:"";display:inline-block;font-size:0;height:100%;vertical-align:middle;width:0}.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous{display:block}.fancybox-slide--image{overflow:hidden;padding:44px 0}.fancybox-slide--image:before{display:none}.fancybox-slide--html{padding:6px}.fancybox-content{background:#fff;display:inline-block;margin:0;max-width:100%;overflow:auto;-webkit-overflow-scrolling:touch;padding:44px;position:relative;text-align:left;vertical-align:middle}.fancybox-slide--image .fancybox-content{-webkit-animation-timing-function:cubic-bezier(.5,0,.14,1);animation-timing-function:cubic-bezier(.5,0,.14,1);-webkit-backface-visibility:hidden;background:transparent;background-repeat:no-repeat;background-size:100% 100%;left:0;max-width:none;overflow:visible;padding:0;position:absolute;top:0;-webkit-transform-origin:top left;transform-origin:top left;transition-property:opacity,-webkit-transform;transition-property:transform,opacity;transition-property:transform,opacity,-webkit-transform;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;z-index:99995}.fancybox-can-zoomOut .fancybox-content{cursor:zoom-out}.fancybox-can-zoomIn .fancybox-content{cursor:zoom-in}.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content{cursor:-webkit-grab;cursor:grab}.fancybox-is-grabbing .fancybox-content{cursor:-webkit-grabbing;cursor:grabbing}.fancybox-container [data-selectable=true]{cursor:text}.fancybox-image,.fancybox-spaceball{background:transparent;border:0;height:100%;left:0;margin:0;max-height:none;max-width:none;padding:0;position:absolute;top:0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;width:100%}.fancybox-spaceball{z-index:1}.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content{height:100%;overflow:visible;padding:0;width:100%}.fancybox-slide--video .fancybox-content{background:#000}.fancybox-slide--map .fancybox-content{background:#e5e3df}.fancybox-slide--iframe .fancybox-content{background:#fff}.fancybox-iframe,.fancybox-video{background:transparent;border:0;display:block;height:100%;margin:0;overflow:hidden;padding:0;width:100%}.fancybox-iframe{left:0;position:absolute;top:0}.fancybox-error{background:#fff;cursor:default;max-width:400px;padding:40px;width:100%}.fancybox-error p{color:#444;font-size:16px;line-height:20px;margin:0;padding:0}.fancybox-button{background:rgba(30,30,30,.6);border:0;border-radius:0;box-shadow:none;cursor:pointer;display:inline-block;height:44px;margin:0;padding:10px;position:relative;transition:color .2s;vertical-align:top;visibility:inherit;width:44px}.fancybox-button,.fancybox-button:link,.fancybox-button:visited{color:#ccc}.fancybox-button:hover{color:#fff}.fancybox-button:focus{outline:none}.fancybox-button.fancybox-focus{outline:1px dotted}.fancybox-button[disabled],.fancybox-button[disabled]:hover{color:#888;cursor:default;outline:none}.fancybox-button div{height:100%}.fancybox-button svg{display:block;height:100%;overflow:visible;position:relative;width:100%}.fancybox-button svg path{fill:currentColor;stroke-width:0}.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:nth-child(1),.fancybox-button--pause svg:nth-child(1),.fancybox-button--play svg:nth-child(2){display:none}.fancybox-progress{background:#ff5268;height:2px;left:0;position:absolute;right:0;top:0;-webkit-transform:scaleX(0);transform:scaleX(0);-webkit-transform-origin:0;transform-origin:0;transition-property:-webkit-transform;transition-property:transform;transition-property:transform,-webkit-transform;transition-timing-function:linear;z-index:99998}.fancybox-close-small{background:transparent;border:0;border-radius:0;color:#ccc;cursor:pointer;opacity:.8;padding:8px;position:absolute;right:-12px;top:-44px;z-index:401}.fancybox-close-small:hover{color:#fff;opacity:1}.fancybox-slide--html .fancybox-close-small{color:currentColor;padding:10px;right:0;top:0}.fancybox-slide--image.fancybox-is-scaling .fancybox-content{overflow:hidden}.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small{display:none}.fancybox-navigation .fancybox-button{background-clip:content-box;height:100px;opacity:0;position:absolute;top:calc(50% - 50px);width:70px}.fancybox-navigation .fancybox-button div{padding:7px}.fancybox-navigation .fancybox-button--arrow_left{left:0;padding:31px 26px 31px 6px}.fancybox-navigation .fancybox-button--arrow_right{padding:31px 6px 31px 26px;right:0}.fancybox-caption{bottom:0;color:#eee;font-size:14px;font-weight:400;left:0;line-height:1.5;padding:25px 44px;right:0;text-align:center;z-index:99996}.fancybox-caption:before{background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);background-repeat:repeat-x;background-size:contain;bottom:0;content:"";display:block;left:0;pointer-events:none;position:absolute;right:0;top:-44px;z-index:-1}.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited{color:#ccc;text-decoration:none}.fancybox-caption a:hover{color:#fff;text-decoration:underline}.fancybox-loading{-webkit-animation:a 1s linear infinite;animation:a 1s linear infinite;background:transparent;border:4px solid #888;border-bottom-color:#fff;border-radius:50%;height:50px;left:50%;margin:-25px 0 0 -25px;opacity:.7;padding:0;position:absolute;top:50%;width:50px;z-index:99999}@-webkit-keyframes a{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes a{to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}.fancybox-animated{transition-timing-function:cubic-bezier(0,0,.25,1)}.fancybox-fx-slide.fancybox-slide--previous{opacity:0;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.fancybox-fx-slide.fancybox-slide--next{opacity:0;-webkit-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}.fancybox-fx-slide.fancybox-slide--current{opacity:1;-webkit-transform:translateZ(0);transform:translateZ(0)}.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous{opacity:0;transition-timing-function:cubic-bezier(.19,1,.22,1)}.fancybox-fx-fade.fancybox-slide--current{opacity:1}.fancybox-fx-zoom-in-out.fancybox-slide--previous{opacity:0;-webkit-transform:scale3d(1.5,1.5,1.5);transform:scale3d(1.5,1.5,1.5)}.fancybox-fx-zoom-in-out.fancybox-slide--next{opacity:0;-webkit-transform:scale3d(.5,.5,.5);transform:scale3d(.5,.5,.5)}.fancybox-fx-zoom-in-out.fancybox-slide--current{opacity:1;-webkit-transform:scaleX(1);transform:scaleX(1)}.fancybox-fx-rotate.fancybox-slide--previous{opacity:0;-webkit-transform:rotate(-1turn);transform:rotate(-1turn)}.fancybox-fx-rotate.fancybox-slide--next{opacity:0;-webkit-transform:rotate(1turn);transform:rotate(1turn)}.fancybox-fx-rotate.fancybox-slide--current{opacity:1;-webkit-transform:rotate(0deg);transform:rotate(0deg)}.fancybox-fx-circular.fancybox-slide--previous{opacity:0;-webkit-transform:scale3d(0,0,0) translate3d(-100%,0,0);transform:scale3d(0,0,0) translate3d(-100%,0,0)}.fancybox-fx-circular.fancybox-slide--next{opacity:0;-webkit-transform:scale3d(0,0,0) translate3d(100%,0,0);transform:scale3d(0,0,0) translate3d(100%,0,0)}.fancybox-fx-circular.fancybox-slide--current{opacity:1;-webkit-transform:scaleX(1) translateZ(0);transform:scaleX(1) translateZ(0)}.fancybox-fx-tube.fancybox-slide--previous{-webkit-transform:translate3d(-100%,0,0) scale(.1) skew(-10deg);transform:translate3d(-100%,0,0) scale(.1) skew(-10deg)}.fancybox-fx-tube.fancybox-slide--next{-webkit-transform:translate3d(100%,0,0) scale(.1) skew(10deg);transform:translate3d(100%,0,0) scale(.1) skew(10deg)}.fancybox-fx-tube.fancybox-slide--current{-webkit-transform:translateZ(0) scale(1);transform:translateZ(0) scale(1)}@media (max-height:576px){.fancybox-caption{padding:12px}.fancybox-slide{padding-left:6px;padding-right:6px}.fancybox-slide--image{padding:6px 0}.fancybox-close-small{right:-6px}.fancybox-slide--image .fancybox-close-small{background:#4e4e4e;color:#f2f4f6;height:36px;opacity:1;padding:6px;right:0;top:0;width:36px}}.fancybox-share{background:#f4f4f4;border-radius:3px;max-width:90%;padding:30px;text-align:center}.fancybox-share h1{color:#222;font-size:35px;font-weight:700;margin:0 0 20px}.fancybox-share p{margin:0;padding:0}.fancybox-share__button{border:0;border-radius:3px;display:inline-block;font-size:14px;font-weight:700;line-height:40px;margin:0 5px 10px;min-width:130px;padding:0 15px;text-decoration:none;transition:all .2s;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;white-space:nowrap}.fancybox-share__button:link,.fancybox-share__button:visited{color:#fff}.fancybox-share__button:hover{text-decoration:none}.fancybox-share__button--fb{background:#3b5998}.fancybox-share__button--fb:hover{background:#344e86}.fancybox-share__button--pt{background:#bd081d}.fancybox-share__button--pt:hover{background:#aa0719}.fancybox-share__button--tw{background:#1da1f2}.fancybox-share__button--tw:hover{background:#0d95e8}.fancybox-share__button svg{height:25px;margin-right:7px;position:relative;top:-1px;vertical-align:middle;width:25px}.fancybox-share__button svg path{fill:#fff}.fancybox-share__input{background:transparent;border:0;border-bottom:1px solid #d7d7d7;border-radius:0;color:#5d5b5b;font-size:14px;margin:10px 0 0;outline:none;padding:10px 15px;width:100%}.fancybox-thumbs{background:#ddd;bottom:0;display:none;margin:0;-webkit-overflow-scrolling:touch;-ms-overflow-style:-ms-autohiding-scrollbar;padding:2px 2px 4px;position:absolute;right:0;-webkit-tap-highlight-color:transparent;top:0;width:212px;z-index:99995}.fancybox-thumbs-x{overflow-x:auto;overflow-y:hidden}.fancybox-show-thumbs .fancybox-thumbs{display:block}.fancybox-show-thumbs .fancybox-inner{right:212px}.fancybox-thumbs__list{font-size:0;height:100%;list-style:none;margin:0;overflow-x:hidden;overflow-y:auto;padding:0;position:absolute;position:relative;white-space:nowrap;width:100%}.fancybox-thumbs-x .fancybox-thumbs__list{overflow:hidden}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar{width:7px}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track{background:#fff;border-radius:10px;box-shadow:inset 0 0 6px rgba(0,0,0,.3)}.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb{background:#2a2a2a;border-radius:10px}.fancybox-thumbs__list a{-webkit-backface-visibility:hidden;backface-visibility:hidden;background-color:rgba(0,0,0,.1);background-position:50%;background-repeat:no-repeat;background-size:cover;cursor:pointer;float:left;height:75px;margin:2px;max-height:calc(100% - 8px);max-width:calc(50% - 4px);outline:none;overflow:hidden;padding:0;position:relative;-webkit-tap-highlight-color:transparent;width:100px}.fancybox-thumbs__list a:before{border:6px solid #ff5268;bottom:0;content:"";left:0;opacity:0;position:absolute;right:0;top:0;transition:all .2s cubic-bezier(.25,.46,.45,.94);z-index:99991}.fancybox-thumbs__list a:focus:before{opacity:.5}.fancybox-thumbs__list a.fancybox-thumbs-active:before{opacity:1}@media (max-width:576px){.fancybox-thumbs{width:110px}.fancybox-show-thumbs .fancybox-inner{right:110px}.fancybox-thumbs__list a{max-width:calc(100% - 10px)}}
@charset "utf-8";
html,
body,
div,
figure,
img {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.notfound {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
figure.forrestgump {
  position: relative;
  width: 100%;
}
figure.forrestgump img {
  width: 100%;
}
figure.forrestgump figcaption {
  float: right;
  clear: right;
  width: 100%;
  padding: 0;
  text-align: right;
}
@media (min-width: 768.02px) {
  figure.forrestgump {
    width: 30rem;
  }
  figure.forrestgump figcaption {
    width: 60%;
    padding: 0 2rem;
  }
}
.notfound-link {
  position: absolute;
  z-index: 9;
  margin-top: 2rem;
}
